:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main-layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .main-header {
    display: flex;
    flex-grow: 1;
    max-height: 70px;
    background-color: #d7e3ff;
    .title-wrapper {
      padding: 15px;
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: center;
      .menu-icon,
      .title {
        color: #007ad3;
      }
    }
  }
  .menu-content-wrapper {
    display: flex;
    flex-grow: 1;
    .sidenav {
      display: flex;
      flex-grow: 1;
      max-width: 280px;
      border-right: 1px solid #acabaf;
    }
    .main-content {
      padding: 20px;
    }
  }
}
